@charset "utf-8";

$primary: #A28D6F;
$link: $primary;
.hero.bg {
	background: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	), url('https://unsplash.it/1200/901?random') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

svg {
	color: black;
}

.navbar-item {
	height: 5rem;
}

@import "../node_modules/bulma/bulma.sass";
